<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learntodrawpvz">

    <application
        android:name=".ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnToDrawPvZ">
        <activity
            android:noHistory="true"
            android:name=".ui.SplashAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainAct"
            android:exported="true">
        </activity>

        <activity android:name=".ui.SelectPlantAct"/>
        <activity android:name=".ui.TutorialAct"
            android:theme="@style/TutorialAct"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3929527529176672~1891406525" />
    </application>
</manifest>